.fixed{
    position: fixed;
}



.toggle-box{
    height: 20px;
    width: 20px;
    padding: 20px;
    background-color: navajowhite;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar {
    background-color: rgb(192, 96, 96);
    position: fixed;
    width: 50px;
    height: 100%;
    top: 60px;
    left: 0;
}

.hidden{
    display: none;
}
.slide {
    position: fixed;
    left: -600px;
    -webkit-animation: slide 0.1s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 0.5s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}