<div class="fixed">
  <div class="toggle-box" (mouseover)="toggle()" (mouseout)="toggle()">
    jiji
  </div>
  <div class="sidebar hidden slide" id="sidebar" (mouseover)="toggle()" (mouseout)="toggle()">
    <nav>
      <p [routerLink]="['/home']">home</p>
      <p [routerLink]="['/graphic']">graphic</p>
      <p [routerLink]="['/foto']">foto</p>
      <p [routerLink]="['/video']">video</p>
      <p [routerLink]="['/music']">music</p>
      <p [routerLink]="['/form']">form</p>
      <p [routerLink]="['/about']">about</p>
    </nav>
  </div>
</div>
